<% layout('layout/boilerplate') -%>

<div class="border p-3 mx-auto w-50">
    <h1>Sign Up</h1>
    <form action="/api/v1/auth/register" method="post">
        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" name="username" id="username">
        </div>
        <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" type="email" name="email" id="email">
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password">
        </div>
        <div class="mb-3">
            <p>Register as</p>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="role" id="seller" value="seller">
                <label class="form-check-label" for="seller">
                  Seller
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="role" id="buyer" checked value="buyer">
                <label class="form-check-label" for="buyer">
                  Buyer
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-sm btn-success">SignUp</button>
        <div class="mb-3">
            <p>Already have an account ? <a href="/api/v1/auth/login">Login</a> </p>
        </div>
       
    </form>
</div