<%- include("./partials/header") %> 
<%- include("./partials/navbar") %> 

<h1>Hello This is <%= Math.floor(Math.random()*10+1) %>  Hello ejs file rendered from the server</h1>

<%- include("./partials/footer") %> 
