<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <main style="width: 80vw; margin: 20px auto;">
        <ul>
            <% for(let blog of blogs) {%>
                <li>
                    <strong>Title : <%=blog.title%></strong>
                    <p><%=blog.description%> </p>
                </li>
            <% } %>
        </ul>
    </main>
    
</body>
</html>