*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    background-color: rgb(64, 140, 207);
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
}

ul{
    list-style: none;
    display: flex;
    width: 500px;
    justify-content: space-around;
}

nav a{
    text-decoration: none;
    color: white;
}

@media screen and (width<=600px){
    nav,ul{
        flex-direction: column;
        align-items: center;
    }
}