*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #0077b6;
    position: fixed;
    width: 100%;
}

li{
    width: 150px;
    display: inline-block;
    margin-left: 30px;
}

nav ul{
    list-style: none;
    padding: 16px;
}

nav ul a{
    font-size: 30px;
    text-decoration: none;
    color: white;
}

#signup{
    position: absolute;
    right: 40px;
}