/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

/* Flexbox is a 1D Layout : Elements will be arranged either in row, column etc. */

#container{
    width: 80vw;
    height: 600px;
    border: 1px solid black;
    background-color: lightblue;
    margin: 10px auto;
    display: flex;
    /* changes the direction of main axis----------- */
    flex-direction: row;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* Arranges the items or elements on main axis */
    justify-content: flex-start;
    /* justify-content: center; */
    /* justify-content: flex-end; */
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: center; */
    /* align-items: flex-end; */

    /* flex-wrap: wrap; */

    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: center; */
    /* align-content: space-between; */
    /* align-content: space-around; */
}

h1{
    text-align: center;
}

div{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    font-size: 30px;
}

#container div:nth-of-type(3){
    /* align-self: flex-start; */
    /* align-self: center; */
    /* align-self: flex-end; */
}


#container div:nth-of-type(1){
    /* align-self: flex-start; */
    /* align-self: center; */
    /* align-self: center; */
    /* flex-grow: 1; */
    flex-shrink: 2;
}

#container div:nth-of-type(5){
    /* flex-grow: 1;
    flex-basis: 250px; */
    /* flex-shrink: 3; */


    flex:1 3 250px;
}